/* Button Reset */
.button-reset {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
  color: inherit;
  padding: 0;

  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-focus-box-shadow: none;
}

.button-reset:hover,
.button-reset:active,
.button-reset:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.button-reset:focus-visible {
  outline: 2px solid var(--bs-body-color);
  outline-offset: 2px;
}
/* Button Reset END */

/* Button Dialog */
.button-skip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-skip .bi {
  font-size: 2rem;
  line-height: 0.5;
  transition: transform 200ms;
}

.button-skip:hover .bi {
  transform: scale(1.5);
}
/* Button Dialog END */

/* Button Close */
.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-close .bi {
  font-size: 1.5rem;
  line-height: 0.5;
  transition: transform 200ms;
}

.button-close:hover .bi {
  transform: scale(1.3);
}
/* Button Close END */

/* Button Load more */
.button-load {
  font-size: 1.25rem;
  transition: transform 200ms;
}

.button-load:hover,
.button-load:active,
.button-load:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.button-load:focus-visible {
  outline: 2px solid var(--bs-body-color);
  outline-offset: 2px;
}

.button-load:hover {
  transform: scale(1.08);
}
/* Button Load more END */

/* Button Nav */
.button-nav {
  color: var(--bs-body-color);
  padding: 0;
}

.button-nav:hover,
.button-nav:focus {
  color: var(--bs-body-color);
}
/* Button Nav END */