body {
  font-family: "Baloo 2";
}

h3, h4 {
  margin: 0;
}
h5,
h6 {
  margin: 0;
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.badge {
  font-size: 1rem;
  font-weight: 300;
  /* line-height: 1.1 */
}

.nav button {
  color: #FFF;
}

.nav-link {
  padding: 0;
}


.overFlowHidden {
  overflow: hidden;
}
