/* Small Cards */
#content-wrapper .card {
  transition: all 255ms;
}

#content-wrapper .card:hover {
  transform: scale(1.06);
}

.card-width {
  width: 260px;
}

.card-body-height {
  height: 200px;
}

.card-image {
  position: absolute;
  bottom: 0;
}

.card-type-image {
  /* height: 28px; */
  width: 12%;
}

.card-bg-white {
  background-color: white !important;
}
/* Small Cards END */

/* Dialog */
.dialog-image-mw {
  min-width: 150px;
}

.evoChain-image {
  width: 20%;
}
/* Dialog END */
