/* Small Cards */
.card {
  cursor: pointer;
  transition: all 255ms;
}

.card:hover {
transform: scale(1.06);
}

.smallCard-width {
  width: 260px;
}

.smallCard-body-height {
  height: 200px;
}

.smallCard-img {
  position: absolute;
  bottom: 0;
}

.smallCard-type-img {
  height: 28px;
}

/* Small Cards END */
